*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 12px;
}


.wrap2{
    display: flex;

   border-radius: 20px;
  
   overflow: hidden;

   color: white;

   img{
    border-radius: 20px;
   }
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  
}



.box2{
    background-color:#299AB3;
width: 400px;

padding: 50px;
font-size: 20px;

p{
    padding-bottom: 300px;
}


button{
    border-radius: 60px;
    width: 100px;
    padding: 10px;
    color:#299AB3 ;
}
}


.title{
    display: flex;

    gap: 150px;
    padding: 60px;
    text-align: center;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;



    button{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        background-color: #299AB3;
        color: white;

      
       
    }

    
}

.ass1{
    padding-bottom: 30px;
}
